/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}

. margin-0 {
    margin-left: 0;
    margin-right: 0;
}

.padding-0 {
    padding-left: 0;
    padding-right: 0;
}

.body-gap {
    margin-left: 300px;
}

/*
=========----------------------------------=========
            2.Header top Css     
=========----------------------------------=========
*/

.header-top {
    width: 100%;
    background: #F81416;
    height: 50px;
}

ul.top-bar-menu {
    padding-right: 20px;
}

ul.top-bar-menu a {
    display: inline-block;
    height: 100%;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
}

.brand-ico-left a {
    display: inline-block;
}

.brand-ico-left img {
    width: 45px;
    padding: 5px;
    float: left;
    border: 1px solid #fff;
    margin: 7px;
}

.brand-ico-left p {
    float: right;
    line-height: 50px;
    color: #fff;
}

.brand-ico-left {
    height: 50px;
    width: 93%;
    background: #CE2E35;
}

/*
=========----------------------------------=========
            3.Summery Section Css     
=========----------------------------------=========
*/

.page-heading h3 {
    color: #CE2E35;
    margin: 30px 0;
}

.dash-info {
    width: 100%;
    height: 140px;
    border: 2px solid #F81416;
    display: flex;
    margin: 15px 0;
}

.info-icon {
    width: 25%;
    background: #F81416;
    height: 100%;
    line-height: 140px;
}

.info-icon i.icofont {
    color: #FFF;
    FONT-SIZE: 30PX;
}

.desh-info-txt {
    width: 75%;
    padding: 15px;
}

.desh-info-txt p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}

.desh-info-txt h4 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}


.border-color {
    border: 2px solid #F81416;
}

.border-color-2 {
    border: 2px solid #DA2424;
}

.border-color-3 {
    border: 2px solid #0B7FF3;
}

.border-color-4 {
    border: 2px solid #247FDA;
}

.info-ico-bg {
    background: #F81416;

}

.info-ico-bg-2 {
    background: #DA2424;

}

.info-ico-bg-3 {
    background: #0B7FF3;
}

.info-ico-bg-4 {
    background: #247FDA;
}

.glob,
.face {
    position: relative;
    z-index: 1;
}

.glob:after {
    position: absolute;
    left: 70%;
    width: 100%;
    height: 100%;
    content: "\f0ac";
    font-family: fontawesome;
    font-size: 60px;
    top: 58%;
    opacity: 0.2;
}

.face:after {
    position: absolute;
    left: 75%;
    width: 100%;
    height: 100%;
    content: "\f09a";
    font-family: fontawesome;
    font-size: 45px;
    top: 58%;
    opacity: 0.2;
}

/*
=========----------------------------------=========
            4.QUERY PAGE Css     
=========----------------------------------=========
*/

#query {
    margin-top: 40px;
}

a.single-query {
    display: inline-block;
    width: 100%;
    height: 250px;
    padding: 20px;
    border: 2px solid #F81416;
    text-align: -webkit-center;
    text-decoration: none;
    color: #fff;
    background: #F81416;
    transition: .3s;
    margin: 30px 0;
}

.single-query i.fa {
    display: block;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 56px;
}

.single-query span {
    font-size: 25px;
    font-weight: bold;
}

a.single-query:hover {
    color: #F81416;
    background: #fff;
}

/*
=========----------------------------------=========
            5.New Query Page Css     
=========----------------------------------=========
*/

#mceu_93,
#mceu_94,
#mceu_95,
#mceu_96,
#mceu_97 {
    display: none;
}

.ques-ans-section input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 19px 0;
    border: 1px solid #ff999a;
}

.sec-title {
    text-align: center;
    margin: 35px 0;
    border-bottom: 2px solid #CE2E35;
    color: #CE2E35;
}

.new-query-form input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ff999a;
    margin: 10px 0;
}

.carousel-option {
    display: flex;
    height: 40px;
    padding: 10px 0;
}

.carousel-option input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background: transparent;
    border: 1px solid #333;
}

.carousel-option span {
    margin-right: 10px;
}

.title-img-link input[type="text"],
.title-img-link input[type="link"] {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 10px 0;
    border: 1px solid #ff999a;
}

.title-img-link {
    margin: 50px 0;
}

.mce-panel {
    border: 0 solid #ff999a;
}

/*
=========----------------------------------=========
            6.Post Canpaigns Page Area Css     
=========----------------------------------=========
*/

.post-ques input[type="text"] {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: 1px solid #ff999a
}

.post-camp-input input,
.post-camp-input select {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    border: 1px solid #ff999a
}

.post-campaign-sub-title h4 {
    margin-top: 20px;
    font-size: 15px;
}

.post-file-input {
    margin-top: 22px;
}

.submit-btn button {
    width: 100%;
    height: 43px;
    line-height: 42px;
    font-weight: bold;
    background: #CE2E35;
    border: 1px solid #CE2E35;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    margin-top: 19px;
}

.submit-btn button:hover {
    background: #fff;
    color: #CE2E35;
}

/*
=========----------------------------------=========
            7.Add Admin Area Css     
=========----------------------------------=========
*/

.log-form {
    margin-top: 80px;
}

.log-form.text-center input[type="name"],
.log-form input[type="email"],
.log-form input[type="password"] {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    border: 1px solid #CE2E35;
}

.log-form.text-center i.fa {
    width: 40px;
    height: 40px;
    margin: 15px 0;
    line-height: 40px;
    text-align: center;
    background: #CE2E35;
    color: #fff;
}

/*
=========----------------------------------=========
            8.Help and Inquery Area Css     
=========----------------------------------=========
*/

.help-title.text-center h4 {
    color: #CE2E35;
    margin-top: 115px;
    margin-bottom: 30px;
}

.hrlp-contact input {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    padding: 0 10px;
    border: 1px solid #ff999a;
}

.hrlp-contact textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ff999a;
    resize: none;
}

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

.copy-right {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    border-top: 1px solid #CE2E35;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #CE2E35;
    z-index: 99;
    color: #CE2E35;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #CE2E35;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #CE2E35;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/
